body{
    background-color: white;
}
.image{
  width: auto;
  height: 225px;
  margin: 0 auto;
  background-color: white;
  padding-top: 25px;
}
.image img{
  width: auto;
  height: inherit;
}
.topbox{
    background-color:black;
    width:inherit;
    height:150px;
    margin: 0 auto;
    text-align: center;
}
.topbox img{
  width: auto;
  height: 50%;
  padding-top: 10px;
}
li{
  float: left;
}
.bottombox{
  background-color: black;
  width:auto;
  height: 200px;
  margin-top: 600px;
}
.midtext{
  width: 300px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
.leftbutton{
  background-color: green;
  width: 100px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
.rightbutton{
  background-color: green;
  width: 100px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
.textabovebuttons{
  margin: 0 auto;
  text-align: center;
}
