body{
    background-color: black;

}
.topbox{
    background-color: #888;
    width:auto;
    height:200px;
}
img{
    width:inherit;
    height:60%;
    margin: 0 auto;
    align-content: center;

}
